img{
  max-width: 100%;
}
body{
  margin: 0px;
}

.container{
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explanation{
  height: 600px;
  width: 900px;
  background-color: rgb(240, 160, 100);
  padding: 20px;
  border-radius: 10px;
}

/*.button{
  height: 100px;
  width: 80px;
  background-color: rgb(255, 100, 100);
  border-radius: 10px;
  display: flex;
}*/

a{
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 100, 100);
  background: rgb(255, 100, 100);
  border-radius: 10px;
  padding: 5px;
}

a:hover{
  font-size: 15px;
  text-align: center;
  padding: 5px;
  color: rgb(255, 95, 90);
}

h1{
  font: arial;
  font-size: 60px;
  text-align: center;
  color: white;
}

h2{
  font: arial;
  font-size: 40px;
  text-align: center;
  color: white;
}

P{
  font: arial;
  font-size: 30px;
  text-align: center;
  color: white;
}
